In [1]:
today = 'saturday'

In [2]:
another_day = today.replace("satur", "wednes")

In [3]:
another_day

'wednesday'

In [4]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [5]:
a_long_line = "     This is a long line with some space before, after,     and some space in the middle...    "

In [7]:
a_long_line_stripped = a_long_line.strip()

In [8]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle...'

In [9]:
#input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

#template for output message
output_template = """if a grocery store sells ice bags at ${} per bag, with a profit margin of {} %, then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

if a grocery store sells ice bags at ${} per bag, with a profit margin of {} %, then the total profit it makes by selling {} ice bags is $ {}.

In [10]:
#inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)
print(output_message)

if a grocery store sells ice bags at $1.25 per bag, with a profit margin of 20.0 %, then the total profit it makes by selling 500 ice bags is $ 125.0.

In [11]:
str(23)

'23'

In [12]:
str(23.432)

'23.432'

In [13]:
str(True)

'True'

In [14]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

In [15]:
first_name = "John"

In [16]:
first_name == "Doe"

False

In [17]:
first_name == "John"

True

In [18]:
first_name != "Jane"

True

### LISTS

In [19]:
fruits = ['apple', 'banana', 'cherry']

In [20]:
fruits

['apple', 'banana', 'cherry']

In [21]:
type(fruits)

list

In [22]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [23]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [24]:
empty_list = []

In [25]:
empty_list

[]

In [26]:
len(fruits)

3

In [27]:
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [28]:
len(a_list)

6

In [29]:
len(empty_list)

0

In [30]:
fruits[0]

'apple'

In [31]:
fruits[1]

'banana'

In [32]:
fruits[2]

'cherry'

In [33]:
fruits[3]

IndexError: list index out of range

In [34]:
fruits[-1]

'cherry'

In [35]:
fruits[-2]

'banana'

In [36]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [37]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

In [40]:
a_list[-2:-5]

[]

In [39]:
a_list[-5:-2]

['hello', None, 3.14]

In [41]:
fruits

['apple', 'banana', 'cherry']

In [42]:
fruits[1] = 'blueberry'

In [43]:
fruits

['apple', 'blueberry', 'cherry']

In [44]:
fruits.append('dates')

In [45]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

In [46]:
fruits.insert(1, 'banana')

In [47]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

In [48]:
fruits.remove('blueberry')

In [49]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [50]:
fruits.pop(1)

'banana'

In [51]:
fruits

['apple', 'cherry', 'dates']

In [52]:
'pineapple' in fruits

False

In [53]:
'cherry' in fruits

True

In [54]:
fruits

['apple', 'cherry', 'dates']

In [55]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [56]:
more_fruits

['apple', 'cherry', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [65]:
more_fruits_copy = more_fruits.copy()

In [66]:
more_fruits_copy

['apple', 'cherry', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [68]:
#modify the copy
more_fruits_copy.remove('pineapple')

In [69]:
more_fruits_copy.pop(1)

'cherry'

In [70]:
more_fruits_copy

['apple', 'dates', 'tomato', 'guava', 'dates', 'banana']

### TUPLE

In [71]:
fruits = ('apple', 'cherry', 'dates')

In [72]:
#check no. of elements
len(fruits)

3

In [73]:
#get an element (positive index)
fruits[0]

'apple'

In [74]:
#get an element (negative index)
fruits[-2]

'cherry'

In [75]:
#check if it contains an element
'dates' in fruits

True

In [76]:
#try to change an element not possible in tuples
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [77]:
#try to append an element not possible in tuples
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [78]:
#try to remove an element not possible in tuples
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

In [79]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [80]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

In [81]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [82]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

### DICTIONARY

In [85]:
person1 = {'name' : 'John Doe', 'sex' : 'Male', 'age' : 32, 'married' : True}

In [86]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [87]:
#dictionaries can also be created using the dict function
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [88]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [89]:
type(person1)

dict

In [90]:
type(person2)

dict

In [ ]:
#keys can be used to access values from a dictionary

In [91]:
person1['name']

'John Doe'

In [92]:
person1['married']

True

In [93]:
person2['name']

'Jane Judy'

In [95]:
person2.get('address', 'unknown')

'unknown'

In [96]:
'name' in person1

True

In [97]:
'address' in person1

False

In [ ]:
#you can change the value associated with a key using the assignment operator

In [98]:
person2['married']

False

In [99]:
person2['married'] = True

In [100]:
person2['married']

True

In [ ]:
#the assignment operator can also be used to add new key-value pairs

In [101]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [102]:
person1['address'] = '1, penny lane'

In [103]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, penny lane'}

In [ ]:
#to remove a key and the associated value from a dictionary

In [104]:
person1.pop('address')

'1, penny lane'

In [105]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [106]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [107]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [108]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

## BRANCHING AND LOOPS

In [ ]:
#BRANCHING WITH IF, ELSE AND ELIF

In [ ]:
#if condition:
    #statement1
    #statement2

In [109]:
a_number = 34

In [110]:
if a_number % 2 == 0:
    print("We're inside an if block")
    print('The given number {} is even.'.format(a_number))

We're inside an if block
The given number 34 is even.

In [111]:
another_number = 33

In [112]:
if another_number % 2 == 0:
    print('The given number {} is even.'.format(a_number))

In [ ]:
#the else statement
#if condition:
    #statement1
    #statement2
#else:
    #statement4
    #statement5

In [113]:
a_number = 34

In [114]:
if a_number % 2 == 0:
    print('The given number {} is even.'.format(a_number))
else:
    print('The given number {} is odd.'.format(a_number))

The given number 34 is even.

In [115]:
another_number = 33

In [116]:
if another_number % 2 == 0:
    print('the given number {} is even.'.format(another_number))
else:
    print('The given number {} is odd.'.format(another_number))

The given number 33 is odd.

In [117]:
the_3_musketeers = ('Athos', 'Porthos', 'Aramis')

In [118]:
a_candidate = "D'artagnan"

In [119]:
if a_candidate in the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

D'artagnan is not a musketeer

In [ ]:
#the elif statement

In [126]:
today = 'Wednesday'

In [127]:
if today == 'sunday':
    print("Today is the day of the sun.")
elif today == 'monday':
    print("Today is the day of the moon.")
elif today == 'tuesday':
    print("Today is the day of tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of odin, the supreme deity.")
elif today == 'Thursday':
    print("Today is the day of thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of saturn, the god of fun and feasting.")

Today is the day of odin, the supreme deity.

In [128]:
a_number = 15

In [129]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3

In [130]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
if a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
if a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
if a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

15 is divisible by 3
15 is divisible by 5

## USING IF, ELIF AND ELSE TOGETHER

In [1]:
a_number = 49

In [2]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3, or 5'.format(a_number))

All checks failed!
49 is not divisible by 2, 3, or 5

In [3]:
a_number = 12

In [4]:
if a_number % 3 == 0 and a_number % 5 == 0:
    print("The number {} is divisible by 3 and 5 ".format(a_number))
elif not a_number % 5 == 0:
    print("The number {} is not divisible by 5".format(a_number))

The number 12 is not divisible by 5

### NON BOOLEAN CONDITIONS

In [5]:
if bool(''):
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to False

In [6]:
if 'Hello':
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to True

In [7]:
if{ 'a': 34 }:
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to True

In [8]:
if None:
    print('The condition evaluated to True')
else:
    print('The condition evaluated to False')

The condition evaluated to False

### NESTED CONDITIONAL STATEMENTS

In [9]:
a_number = 15

In [10]:
if a_number % 2 == 0:
    print("{} is even".format(a_number))
    if a_number % 3 == 0:
        print("{} is also divisible by 3".format(a_number))
    else:
        print("{} is not divisible by 3".format(a_number))
else:
    print("{} is odd".format(a_number))
    if a_number % 5 == 0:
        print("{} is also divisible by 5".format(a_number))
    else:
        print("{} is not divisible by 5".format(a_number))

15 is odd
15 is also divisible by 5

#### ITERATION WITH WHILE LOOPS

In [ ]:
#while condition:
       #statement(s)

In [13]:
result = 1
i = 1

while i <= 100:
    result = result * 1
    i = i+1

print('The factorial of 100 is: {}'.format(result))

The factorial of 100 is: 1

In [18]:
%%time

result = 1
i = 1

while i <= 1000:
    result *= i #same as result = result * 1
    i += 1 #same as i = i+1

print(result)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: total: 0 ns
Wall time: 0 ns

In [19]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line += "*"
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

### BREAK AND CONTINUE STATEMENTS

In [20]:
i = 1
result = 1

while i <= 100:
    result *= i #same as result = result * i
    if i == 42:
        print('magic number 42 reached: stopping execution..')
        break
    i += 1

print('i:', i)
print('result:', result)

magic number 42 reached: stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

In [21]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('skipping {}'.format(i))
        continue
    print('multioying with {}'.format(i))
    result = result * i

print('i:' , i)
print('result:' , result)

skipping 2
multioying with 3
skipping 4
multioying with 5
skipping 6
multioying with 7
skipping 8
multioying with 9
skipping 10
multioying with 11
skipping 12
multioying with 13
skipping 14
multioying with 15
skipping 16
multioying with 17
skipping 18
multioying with 19
skipping 20
i: 20
result: 654729075

### iteration with for loops

In [ ]:
# for value in sequence:
      #statements(s)

In [22]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [23]:
# looping over a string
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [24]:
# looping over a tuple
for fruit in ['Apple', 'Banana', 'Guava']:
    print("Here's a fruit", fruit)

Here's a fruit Apple
Here's a fruit Banana
Here's a fruit Guava

In [25]:
#looping over  a dictionary
person = {
      'name' : 'John doe',
      'sex' : 'male',
    'age' : 32,
    'married' : True
}

for key in person:
    print("key:", key, ",", "values:", person[key])

key: name , values: John doe
key: sex , values: male
key: age , values: 32
key: married , values: True

In [26]:
for value in person.values():
    print(value)

John doe
male
32
True

In [27]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John doe')
('sex', 'male')
('age', 32)
('married', True)

In [28]:
for key, value in person.items():
    print("key:", key, ",", "value:", value)

key: name , value: John doe
key: sex , value: male
key: age , value: 32
key: married , value: True

#### ITERATING USING RANGE AND ENUMERATE

In [30]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [31]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [32]:
for i in range(3, 14, 4):
    print(i)

3
7
11

In [34]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

In [35]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

### break, continue and pass statements

In [38]:
weekdays = ['Monday', 'Tuesday', 'wednesday', 'Thursday', 'Friday']

In [39]:
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'wednesday'):
        print("I don't work beyond wednesday!")
        break

Today is Monday
Today is Tuesday
Today is wednesday
I don't work beyond wednesday!

In [40]:
for day in weekdays:
    if (day == 'wednesday'):
        print("i don't work on wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
i don't work on wednesday!
Today is Thursday
Today is Friday

### NESTED FOR AND WHILE LOOPS

In [41]:
persons = [{'name': 'John', 'sex': 'male'},{'name': 'Jane', 'sex': 'female'}]

for person in persons:
    for key in person:
        print(key, ":", person[key])
    print(" ")

name : John
sex : male

name : Jane
sex : female

In [42]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava

## functions

In [43]:
today = "Saturday"
print("Today is", today)

Today is Saturday

In [44]:
def say_hello():
    print('Hello there!')
    print('How are you?')

In [46]:
say_hello()

Hello there!
How are you?

#### function arguments

In [47]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [48]:
even_list = filter_even([1, 2, 3, 4, 5, 6, 7])

In [49]:
even_list

[2, 4, 6]

In [50]:
filter_even([1, 3, 5, 7, 9])

[]

#### writing great fucntions in python

In [51]:
def loan_emi(amount):
    emi = amount / 12
    print('The EMI is ${}'.format(emi))

In [53]:
loan_emi(1.26e6)

The EMI is $105000.0

In [2]:
def loan_emi(amount, duration):
    emi = amount / duration
    print('The EMI is ${}'.format(emi))

In [55]:
loan_emi(1.26e6, 10*12)

The EMI is $10500.0

In [4]:
loan_emi(1.26e6, 8*12)

The EMI is $13125.0

In [5]:
def loam_emi(amount, duration):
    emi = amount / duration
    return emi

In [7]:
emi1 = loan_emi(1.26e6, 8*12)

The EMI is $13125.0

In [9]:
emi2 = loan_emi(1.26e6, 10*12)

The EMI is $10500.0

In [14]:
def loan_emi(amount, duration, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount / duration
    return emi

In [15]:
emi1 = loan_emi(1.26e6, 8*12, 3e5)

In [16]:
emi1

10000.0

In [17]:
emi2 = loan_emi(1.26e6, 10*12)

In [18]:
emi2

10500.0

In [19]:
emi1-emi2

-500.0

In [20]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration)/(((1+rate)**duration)-1)
    return emi

In [21]:
loan_emi(1260000, 8*12, 0.1/12, 3e5)

14567.19753389219

In [22]:
loan_emi(1260000, 10*12, 0.08/12)

15287.276888775077

## NAMED ARGUMENTS

In [23]:
emi1 = loan_emi(
    amount=1.26e6,
    duration=8*12,
    rate=0.1/12,
    down_payment=3e5
)

In [24]:
emi1

14567.19753389219

In [25]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [26]:
emi2

15287.276888775077

In [27]:
import math

In [28]:
math.ceil(1.2)

2

In [29]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration)/(((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [30]:
emi1 = loan_emi(
    amount=1260000,
    duration=8*12,
    rate=0.1/12,
    down_payment=3e5
)

In [31]:
emi1

14568

In [32]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [33]:
emi2

15288

In [34]:
if emi1 < emi2:
    print("Option1 has the lower emi: ${}".format(emi1))
else:
    print("Option2 has the lower emi: ${}".format(emi2))

Option1 has the lower emi: $14568

In [35]:
cost_of_house = 800000
home_loan_duration = 6*12 #months
home_loan_rate = 0.07/12 #monthly
home_down_payment = .25 * 800000

emi_house = loan_emi(amount=cost_of_house,
                    duration=home_loan_duration,
                    rate=home_loan_rate,
                    down_payment=home_down_payment)

In [36]:
emi_house

10230

In [37]:
cost_of_car = 60000
car_loan_duration = 1*12 #months
car_loan_rate = .12/12 #monthly

emi_car = loan_emi(amount=cost_of_car,
                   duration=car_loan_duration,
                   rate=car_loan_rate
             )

In [38]:
emi_car

5331

In [39]:
print("shaun makes a total monthly payment of ${} towards loan repayments.".format(emi_house+emi_car))

shaun makes a total monthly payment of $15561 towards loan repayments.

### TRY AND EXCEPT ERROR

In [40]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)

In [41]:
emi_with_interest

1267

In [42]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0./12)

ZeroDivisionError: float division by zero

In [ ]:
##WE USE A TRY STATEMENT TO HANDLE ZERODIVISIONERRORS IE

In [43]:
try:
    print("Now computing the result..")
    result = 5 / 0
    print("Computation was completed successfully")
except ZeroDivisionError:
    print("Failed to compute result because you were trying to divide by zero")
    result = None

print(result)

Now computing the result..
Failed to compute result because you were trying to divide by zero
None

In [44]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [46]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)

In [47]:
emi_with_interest

1267

In [48]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0)

In [49]:
emi_without_interest

834

In [50]:
total_interest = (emi_with_interest - emi_without_interest) * 10*12

In [51]:
total_interest

51960

In [52]:
print("The total interest paid is ${}.".format(total_interest))

The total interest paid is $51960.

#### DOCUMENTING FUNCTIONS USING DOCSTRINGS

In [54]:
def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal monthly installment (EMI) for a loan.
    Arguments:
          amount - Total amount to be spent (loan + down payment)
          duration - duration of loan (in months)
          rate - rate of interest (monthly)
          down_payment (optional) - optional initial payment (deducted from amount)
    """

    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration)/(((1+rate)**duration)-1)
    except ZeroDivisonError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [55]:
help(loan_emi)

Help on function loan_emi in module __main__:

loan_emi(amount, duration, rate, down_payment=0)
    Calculates the equal monthly installment (EMI) for a loan.
    Arguments:
          amount - Total amount to be spent (loan + down payment)
          duration - duration of loan (in months)
          rate - rate of interest (monthly)
          down_payment (optional) - optional initial payment (deducted from amount)

### ASSIGNMENT

In [1]:
def cost_of_trip(return_flight, hotel_trip, weekly_car_rental):
    cost_of_trip = return_flight + (hotel_trip * 7) + weekly_car_rental
    return cost_of_trip

In [2]:
cost_of_trip_paris = cost_of_trip (return_flight=200,
                                  hotel_trip=20,
                                  weekly_car_rental=200)

In [3]:
cost_of_trip_paris

540

In [5]:
cost_of_trip_london = cost_of_trip (return_flight=250,
                                   hotel_trip=30,
                                   weekly_car_rental=120)

In [7]:
cost_of_trip_london

580

In [8]:
cost_of_trip_dubai = cost_of_trip (return_flight=350,
                                  hotel_trip=15,
                                  weekly_car_rental=80)

In [9]:
cost_of_trip_dubai

535

In [10]:
cost_of_trip_mumbai = cost_of_trip (return_flight=450,
                                   hotel_trip=10,
                                   weekly_car_rental=70)

In [11]:
cost_of_trip_mumbai

590

In [15]:
print("i will visit dubai with ${}.".format(cost_of_trip_dubai))

i will visit dubai with $535.

In [ ]:
## 4days trip

In [16]:
def cost_of_trip(return_flight, hotel_trip, weekly_car_rental):
    cost_of_trip = return_flight + (hotel_trip * 4) + weekly_car_rental
    return cost_of_trip

In [17]:
cost_of_trip_paris = cost_of_trip(return_flight=200,
                                 hotel_trip=20,
                                 weekly_car_rental=200)

In [18]:
cost_of_trip_paris

480

In [19]:
cost_of_trip_london = cost_of_trip(return_flight=250,
                                  hotel_trip=30,
                                  weekly_car_rental=120)

In [20]:
cost_of_trip_london

490

In [21]:
cost_of_trip_dubai = cost_of_trip(return_flight=350,
                                 hotel_trip=15,
                                 weekly_car_rental=80)

In [22]:
cost_of_trip_dubai

490

In [23]:
cost_of_trip_mumbai = cost_of_trip(return_flight=450,
                                  hotel_trip=10,
                                  weekly_car_rental=70)

In [24]:
cost_of_trip_mumbai

560

In [ ]:
## 10 days trip

In [25]:
def cost_of_trip(return_flight, hotel_trip, weekly_car_rental):
    cost_of_trip = return_flight + (hotel_trip * 10) + weekly_car_rental
    return cost_of_trip

In [26]:
cost_of_trip_paris = cost_of_trip(return_flight=200,
                                 hotel_trip=20,
                                 weekly_car_rental=200)

In [27]:
cost_of_trip_paris

600

In [28]:
cost_of_trip_london = cost_of_trip(return_flight=250,
                                  hotel_trip=30,
                                  weekly_car_rental=120)

In [29]:
cost_of_trip_london

670

In [30]:
cost_of_trip_dubai = cost_of_trip(return_flight=370,
                                 hotel_trip=15,
                                 weekly_car_rental=80)

In [31]:
cost_of_trip_dubai

600

In [32]:
cost_of_trip_mumbai = cost_of_trip(return_flight=450,
                                  hotel_trip=10,
                                  weekly_car_rental=70)

In [34]:
cost_of_trip_mumbai

620

In [ ]:
# 2weeks trip ie 14days

In [35]:
def cost_of_trip(return_flight, hotel_trip, weekly_car_rental):
    cost_of_trip = return_flight + (hotel_trip * 14) + weekly_car_rental
    return cost_of_trip

In [36]:
cost_of_trip_paris = cost_of_trip(return_flight=200,
                                 hotel_trip=20,
                                 weekly_car_rental=200)

In [37]:
cost_of_trip_paris

680

In [39]:
cost_of_trip_london = cost_of_trip(return_flight=250,
                                  hotel_trip=30,
                                  weekly_car_rental=120)

In [40]:
cost_of_trip_london

790

In [41]:
cost_of_trip_dubai = cost_of_trip(return_flight=370,
                                 hotel_trip=15,
                                 weekly_car_rental=80)

In [43]:
cost_of_trip_dubai

660

In [44]:
cost_of_trip_mumbai = cost_of_trip(return_flight=450,
                                  hotel_trip=10,
                                  weekly_car_rental=70)

In [45]:
cost_of_trip_mumbai

660

In [47]:
import math

In [48]:
def duration_of_trip (total_budget, return_flight, weekly_car_rental, hotel_per_day):
    duration_of_trip = (total_budget-(return_flight + weekly_car_rental))/hotel_per_day
    duration_of_trip = math.ceil(duration_of_trip)
    return duration_of_trip

In [ ]:
#maximize duration one week

In [50]:
duration_of_trip_paris = duration_of_trip(total_budget=1000,
                                         return_flight=200,
                                         weekly_car_rental=200,
                                         hotel_per_day=20)

In [51]:
duration_of_trip_paris

30

In [54]:
duration_of_trip_london = duration_of_trip(total_budget=1000,
                                          return_flight=250,
                                          weekly_car_rental=120,
                                          hotel_per_day=30)

In [55]:
duration_of_trip_london

21

In [56]:
duration_of_trip_dubai = duration_of_trip(total_budget=1000,
                                         return_flight=370,
                                         weekly_car_rental=80,
                                         hotel_per_day=15)

In [57]:
duration_of_trip_dubai

37

In [58]:
duration_of_trip_mumbai = duration_of_trip(return_flight=450,
                                          total_budget=1000,
                                          weekly_car_rental=70,
                                          hotel_per_day=10)

In [59]:
duration_of_trip_mumbai

48

In [61]:
print("to maiximize the duration of trip i would visit {} days in mumbai".format(duration_of_trip_mumbai))

to maiximize the duration of trip i would visit 48 days in mumbai

In [62]:
print("to minimize the duration of trip i would visit {} days in london".format(duration_of_trip_london))

to minimize the duration of trip i would visit 21 days in london

In [ ]:
## $600 dollar budget

In [1]:
import math

In [2]:
def duration_of_trip (total_budget, return_flight, weekly_car_rental, hotel_per_day):
    duration_of_trip = (total_budget-(return_flight + weekly_car_rental))/hotel_per_day
    duration_of_trip = math.ceil(duration_of_trip)
    return duration_of_trip

In [33]:
duration_of_trip_paris_600 = duration_of_trip (total_budget=600,
                          return_flight=200,
                          hotel_per_day=20,
                          weekly_car_rental=200)

In [34]:
duration_of_trip_paris_600

10

In [35]:
duration_of_trip_london_600 = duration_of_trip (total_budget=600,
                                           return_flight=250,
                                           hotel_per_day=30,
                                           weekly_car_rental=120)

In [36]:
duration_of_trip_london_600

8

In [37]:
duration_of_trip_dubai_600 = duration_of_trip (total_budget=600,
                                          return_flight=370,
                                          hotel_per_day=15,
                                          weekly_car_rental=80)

In [38]:
duration_of_trip_dubai_600

10

In [39]:
duration_of_trip_mumbai_600 = duration_of_trip (total_budget=600,
                                           return_flight=450,
                                           hotel_per_day=10,
                                           weekly_car_rental=70)

In [40]:
duration_of_trip_mumbai_600

8

In [42]:
print("To minimize the duration of the trip i would visit either london or mumbai for {} days".format(duration_of_trip_london_600 or duration_of_trip_mumbai_600))

To minimize the duration of the trip i would visit either london or mumbai for 8 days

In [41]:
print("to maximize the duration of the trip i would i would visit either paris or dubai for {} days ".format(duration_of_trip_paris_600 or duration_of_trip_duabi_600))

to maximize the duration of the trip i would i would visit either paris or dubai for 10 days

In [ ]:
## $2000 budget

In [12]:
import math

In [13]:
def duration_of_trip (total_budget, return_flight, weekly_car_rental, hotel_per_day):
    duration_of_trip = (total_budget-(return_flight + weekly_car_rental))/hotel_per_day
    duration_of_trip = math.ceil(duration_of_trip)
    return duration_of_trip

In [43]:
duration_of_trip_paris_2000 = duration_of_trip (total_budget=2000,
                                          return_flight=200,
                                          hotel_per_day=20,
                                          weekly_car_rental=200)

In [44]:
duration_of_trip_paris_2000

80

In [45]:
duration_of_trip_london_2000 = duration_of_trip (total_budget=2000,
                                           return_flight=250,
                                           hotel_per_day=30,
                                           weekly_car_rental=120)

In [46]:
duration_of_trip_london_2000

55

In [47]:
duration_of_trip_dubai_2000 = duration_of_trip (total_budget=2000,
                                          return_flight=370,
                                          hotel_per_day=15,
                                          weekly_car_rental=80)

In [48]:
duration_of_trip_dubai_2000

104

In [49]:
duration_of_trip_mumbai_2000 = duration_of_trip (total_budget=2000,
                                           return_flight=450,
                                           hotel_per_day=10,
                                           weekly_car_rental=70)

In [50]:
duration_of_trip_mumbai_2000

148

In [52]:
print("to minimize the duration of the trip i would visit london for {} days".format(duration_of_trip_london_2000))

to minimize the duration of the trip i would visit london for 55 days

In [54]:
print("to maximize the duration of the trip i would visit mumbai for {} days".format(duration_of_trip_mumbai_2000))

to maximize the duration of the trip i would visit mumbai for 148 days

In [ ]:
## $1500 budget

In [23]:
import math

In [ ]:
def duration_of_trip (total_budget, return_flight, weekly_car_rental, hotel_per_day):
    duration_of_trip = (total_budget-(return_flight + weekly_car_rental))/hotel_per_day
    duration_of_trip = math.ceil(duration_of_trip)
    return duration_of_trip

In [55]:
duration_of_trip_paris_1500 = duration_of_trip (total_budget=1500,
                                          return_flight=200,
                                          hotel_per_day=20,
                                          weekly_car_rental=200)

In [56]:
duration_of_trip_paris_1500

55

In [64]:
duration_of_trip_london_1500 = duration_of_trip (total_budget=1500,
                                           return_flight=250,
                                           hotel_per_day=30,
                                           weekly_car_rental=120)

In [65]:
duration_of_trip_london_1500

38

In [59]:
duration_of_trip_dubai_1500 = duration_of_trip (total_budget=1500,
                                          return_flight=370,
                                          hotel_per_day=15,
                                          weekly_car_rental=80)

In [60]:
duration_of_trip_dubai_1500

70

In [61]:
duration_of_trip_mumbai_1500 = duration_of_trip (total_budget=1500,
                                           return_flight=450,
                                           hotel_per_day=10,
                                           weekly_car_rental=70)

In [62]:
duration_of_trip_mumbai_1500

98

In [67]:
print("To minimize the duration of the trip i would visit london for {} days".format(duration_of_trip_london_1500))

To minimize the duration of the trip i would visit london for 38 days

In [68]:
print("to maximize the duration of the trip i would visit mumbai for {} days".format(duration_of_trip_mumbai_1500))

to maximize the duration of the trip i would visit mumbai for 98 days